.no-focusborder:focus {
  outline-style: none;
  box-shadow: none;
}

:focus,
.toggle:focus + label,
.toggle-all:focus + label {
	box-shadow: 0 0 2px 2px transparent;
	outline: 0;
}

.circle {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: #5e5e5e;
}
